@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "quicksand";
  src: url('./fonts/quicksand.ttf');
}

@font-face {
  font-family: "mrdafoe";
  src: url('./fonts/phil.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.scroll-down {
	header {
		transform: translate3d(0, -100%, 0);
	}
}

.active {
  color: #E3292C;
}

.cds {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 24px;
}

.bg-dots {
  --dot-bg: rgb(23 23 23);
  --dot-color: rgb(61, 61, 61);
  --dot-size: 1px;
  --dot-space: 22px;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
}

.wrapper {
  animation: scroll 100s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  color: #eee;
  height: 100vh;
  scale: 1.5;
  position: fixed;
  filter: blur(10px) brightness(.65);
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@keyframes scroll {
  100% {
    background-position: 0px -400%;
  }
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}
